@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

.stars{
  background-image: url('./assets/stars.jpg');
  background-repeat: repeat;
  background-attachment: fixed

}
p{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

.fugaz{
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;}
.dotmatrix{
  font-family: "Racing Sans One", sans-serif;
  font-weight: 700;
  font-style: normal;

}
.active{
  text-decoration: underline;
  color: red;
}
.gradient{
  background-image: linear-gradient(to bottom, #434343 0%, black 100%);
}
.gamecard{
  border: 2px solid maroon;
}

